/*===============================
*	The  Jukebox:
================================*/


.view_port{
	background: url('/assets/app/modules/jukebox/css/img/background_1920x1440.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.queued_track_list{

	background: url('/assets/app/modules/jukebox/css/img/bg.png');
	opacity: 0.93;
	overflow-y: auto;
	display: inline-block;
	width: 100%;
	max-height: 90%;
	height: 90%;
	border-top: 1px solid rgba(255, 0, 0, 0.5);

}

.queued_track_list-item{
	padding-left: 5%;
}