<!-- jukebox.html -->

<link rel="stylesheet" type="text/css" href="/assets/app/modules/jukebox/css/jukebox.css" />
<link rel="stylesheet" type="text/css" href="/assets/app/modules/jukebox/css/effects.css" />
<link rel="stylesheet" type="text/css" href="/assets/app/modules/jukebox/css/icons.css" />

<div class="max_width_height view_port" >
	<div data-ng-repeat="jukebox in jukeboxes" style="margin-left: 5%;padding-left:5% ;width: 40%;height:100%;float: left;background-color: rgba(0, 0, 0, 0.52);">
		<div style="height:45%; padding-top: 5%;">
			<div style="float:left;">
			<h1><b>{[{ jukebox.title }]}</b></h1>
			</div>
			<div style="float:left;padding-left:2%;">
				<div ng-if="jukebox.player.on == true" class="led-green"></div>
				<div ng-if="jukebox.player.on == false" class="led-red"></div>
			</div>
			<br style="clear: both;"/>
			<div>
				<h3 ng-if="track_playing.start_seconds">
					{[{ track_playing.title }]}
					{[{ duration_to_HHMMSS(track_playing.start_seconds) }]} / {[{ duration_to_HHMMSS(track_playing.duration) }]}
					by {[{ track_playing.person_nick_name }]}
				</h3>
				<br/>
			</div>
			<div data-ng-if="user.email">
				<div data-ng-switch data-on="player_status.state">
					<button data-ng-click="start_playing(jukebox)" data-ng-switch-when="-1">Start Playing</button>
					<button data-ng-click="start_playing(jukebox)" data-ng-switch-when="0">Start Playing (Ended)</button>
					<button data-ng-click="stop_playing(jukebox)" data-ng-switch-when="1" data-ng-if="is_owner(user, jukebox)">Stop</button>
					<button data-ng-click="pause_playing(jukebox)" data-ng-switch-when="1">Pause</button>
					<button data-ng-click="resume_playing(jukebox)" data-ng-switch-when="2">Resume</button>
					<button data-ng-click="start_playing_queued_track(jukebox, track_playing, player_status.current_time)" data-ng-switch-when="1" data-ng-if="is_owner(user, jukebox)">Force sync Jukebox</button>
					<button data-ng-click="start_playing_queued_track(jukebox, track_playing, player_status.current_time)" data-ng-switch-when="2" data-ng-if="is_owner(user, jukebox)">Resume and sync Jukebox</button>
					<p data-ng-switch-when="3">Buffering... please wait</p>
					<!-- is this needed idr
					<button data-ng-click="start_playing(jukebox)" data-ng-switch-when="5">Play</button>
					-->
					<button data-ng-click="start_playing_queued_track(jukebox, track_playing, player_status.current_time)" data-ng-switch-when="5" data-ng-if="is_owner(user, jukebox)">Start and sync Jukebox</button>
				</div>
				<button title="Reload me honey" class="smal_font effect_doaroll" data-ng-click="get_jukeboxes([jukebox.id])">RELOAD</button>
			</div>
		</div>
		<div style="height:50%;max-height:50%;">
			<h3 style="float:left;">Upcoming tracks &nbsp; {[{ duration_to_HHMMSS(get_jukebox_total_play_duration(jukebox)) }]}&nbsp;</h3>
			<form style="float:right;" ng-submit="add_new_queued_track(jukebox)">
				<input type="text" data-ng-model="new_queued_track.video_url" placeholder=" YouTube URL..."/>
				<button type="submit">Queue Song</button>
			</form>
			<div class="queued_track_list">
				<br/>
				<div data-ng-repeat="queued_track in jukebox.queued_tracks | filter:{archived:false}" class="queued_track_list-item" >
					<p>{[{ $index + 1 }]}. {[{ queued_track.title.slice(0,65) }]} ({[{ duration_to_HHMMSS(queued_track.duration) }]})
					<span> - by {[{ queued_track.queuedby_nick_name }]}</span>
					<div data-ng-if="user.email">
						<button data-ng-if="is_owner(user, jukebox)" ng-click="start_playing_queued_track(jukebox, queued_track, 0)">Play Now!!!</button>
						<button ng-click="remove_queued_track(jukebox, queued_track, true)">Archive</button>
						<button data-ng-if="is_owner(user, jukebox)" ng-click="remove_queued_track(jukebox, queued_track, false)">Delete</button>
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div style="background-color: rgba(0, 0, 0, 0.52); float: left; width: 40%; height: 100%; margin-right:5%;padding-right:5%;">
		<div you-tube style="text-align:center;height:50%;max-height:45%; margin-top:5%; width: 100%;">
			<div id="player"></div>
		</div>
		<div style="text-align:center; width: 95%; height:50%; max-height:50%;">
			<h3 style="float:left">Last tracks played</h3>
			<div style="float:right;">
				<input type="text" data-ng-model="queued_track_search" placeholder=" Search for something"/>
				<button>Search</button>
			</div>
			<div class="queued_track_list" >
				<br/>
				<div data-ng-repeat="queued_track in jukeboxes[0].queued_tracks | filter:{archived:true} | filter:queued_track_search"  class="queued_track_list-item">
					<p style="text-align: left;">{[{ queued_track.title.slice(0,65) }]} ({[{ duration_to_HHMMSS(queued_track.duration) }]})
					<button ng-click="add_new_queued_track(jukeboxes[0], queued_track.id)">Queue It!!!</button></p>
				</div>
			</div>
		</div>
	</div>
</div>