/*
Fonts first ladies
*/
@font-face{
	font-family: 'LeagueOstrichRegular';
	src: url('/assets/webfonts/ostrich-regular-webfont.eot');
	src: url('/assets/webfonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/webfonts/ostrich-regular-webfont.woff') format('woff'),
	url('/assets/webfonts/ostrich-regular-webfont.ttf') format('truetype'),
	url('/assets/webfonts/ostrich-regular-webfont.svg#LeagueOstrichRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'LeagueOstrichBold';
	src: url('/assets/webfonts/ostrich-bold-webfont.eot');
	src: url('/assets/webfonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/webfonts/ostrich-bold-webfont.woff') format('woff'),
	url('/assets/webfonts/ostrich-bold-webfont.ttf') format('truetype'),
	url('/assets/webfonts/ostrich-bold-webfont.svg#LeagueOstrichBold') format('svg');
	font-weight: normal;
	font-style: normal;
}