<link rel="stylesheet" type="text/css" href="/assets/app/modules/jukebox/css/jukebox.css" />
<div class="max_width_height view_port">
    <div class="main-column">
        <h1>
            Welcome to The Office Jukebox
        </h1>
        <p>
            This is a small project built in my home time blah blah blah...<br/>
            - <a data-ng-click="go_to_list()" class="jukebox-list-item">List of JukeBoxes</a>
            <br/>
            - <a href="https://github.com/jimmykane/theofficejukebox" target="_blank">Source on github</a>
            <br/>
            - <a href="mailto:jimmykane9@gmail.com" target="_blank">Contact via email</a>
            <br/>
            - <a href="https://plus.google.com/+DimitriosKanellopoulos/" target="_blank">Google+</a>
            <br/>
            Enjoy!
        </p>
    </div>
</div>