<link rel="stylesheet" type="text/css" href="/assets/app/modules/jukebox/css/jukebox.css" />
<div class="max_width_height view_port">
    <div class="main-column">
        <h1>
            Welcome to The Office Jukebox
        </h1>
        <p>
            This is a small project built in my home time blah blah blah...<br/>
            - <a data-ng-click="go_to_list()">List of JukeBoxes</a>
            <br/>
            - <a href="https://github.com/jimmykane/theofficejukebox">Source on github</a>
            - <a href="mailto:jimmykane9@gmail.com">Contact via email</a>
            - <a href="https://plus.google.com/+DimitriosKanellopoulos/">Google+</a>
            <br/>
            Enjoy!
        </p>
    </div>
</div>